<h1>login</h1>
<%= form_tag  admin_sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "login" %>

  <br>
  <p></p>
  <p>tk login</p>
  <p>user: dinhhieu.dlk@gmail.com<br>pass: dinhhieu</p>
<% end %>
