<%= stylesheet_link_tag 'bootstrap.min' %>
<%= stylesheet_link_tag 'login' %>
<p id="notice"><%= notice %></p>
<div class="container">
  <%= form_tag admin_sessions_path, class: "form-signin" do %>
    <h1 class="text-center">sign in</h1>
    <p>
      <%= label_tag :email, "Email address", class: "sr-only" %>
      <%= email_field_tag :email, '', class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
    </p>

    <p>
      <%= label_tag :password, "Password", class: "sr-only" %>
      <%= password_field_tag :password, '', placeholder: "Password", class: "form-control", required:true %>
    </p>
    <%= submit_tag "login", class: "btn btn-primary btn-block" %>

  <% end %>
</div>
