<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12 profile">
      <aside>
        <div class="clearfix">
          <%= image_tag 'dog.jpg', alt: "dog image", class: "img-circle profile-image" %>
          <div class="profile-content">
            <h4>Blog</h4>
            <p>demo blog</p>
          </div>

          <hr class="hidden-xs hidden-sm">

          <div class="social-icons">
            <p>Share this page:</p>
            <ul class="clearfix">
              <li><%= image_tag "social_icons/twitter.png" %></li>
              <li><%= image_tag "social_icons/facebook.png" %></li>
              <li><%= image_tag "social_icons/linkedin.png" %></li>
              <li><%= image_tag "social_icons/googleplus.png" %></li>
              <li><%= image_tag "social_icons/pinterest.png" %></li>
              <li><%= image_tag "social_icons/email.png" %></li>
            </ul>
          </div>
        </div>

        <hr class="hidden-md hidden-lg">

      </aside>
    </div>

    <div class="col-md-8">
      <article>
        <header><h2>Lorem ipsum dolor sit amet, consectetur</h2></header>
        <footer><small>Posted on 1 Jan 2020</small></footer>

        <div class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et. <a href="#">Read More</a>
        </div>

        <footer>
          <span class="label label-default">code</span>
          <span class="label label-default">programming</span>
          <span class="label label-default">bootstrap</span>
        </footer>
        <hr>
      </article>

      <article>
        <header><h2>Lorem ipsum dolor sit amet, consectetur</h2></header>
        <footer><small>Posted on 1 Jan 2020</small></footer>

        <div class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et. <a href="#">Read More</a>
        </div>

        <footer>
          <span class="label label-default">code</span>
          <span class="label label-default">programming</span>
          <span class="label label-default">bootstrap</span>
        </footer>
        <hr>
      </article>

      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
