<p id="notice"><%= notice %></p>
<header class="clearfix">
  <div class="col-xs-5 col-sm-3 col-md-3"><b>All User</b></div>
  <div class="col-xs-7 col-sm-9 col-md-9">
    <%= link_to "Create new article",  new_admin_user_path, class: "btn btn-xs btn-primary pull-right", type: "button" %>
  </div>
</header>

<div class="content-inner">
  <div class="row search-row">
    <div class="col-md-12">
      <%= form_tag admin_users_path, :method => 'get' do%>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control search-field", placeholder: "Search"%>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary go" %>
        </span>
      </div>
      <% end %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Avatar</th>
        <th class="hidden-xs">Created</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each.with_index(1) do |user, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.avatar.attached? %>
              <%= image_tag user.avatar.variant(resize_to_limit: [100, 100])%>
            <% end %>
          </td>
          <td class="hidden-xs"><%= user.created_at.strftime("%d/%m/%Y") %></td>
          <th><%= link_to 'Show', admin_user_path(user), class: "btn btn-xs btn-primary" %>  <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-xs btn-warning" %>  <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @users %>
    </div>
  </div>
</div>
