<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'admin/default' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container-fluid display-table">
      <div class="row display-table-row">
        <!-- side menu -->
        <%= render :partial => 'shared/admin/side_menu' %>
        <!-- main content area -->
        <div class="col-md-10 col-sm-11 display-table-cell valign-top">
          <%= render :partial => 'shared/admin/header' %>

          <div id="content">
            <%= yield %>
          </div>
          <%= render :partial => 'shared/admin/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
